[2022-09-04 01:55] videni opened #1558 "Is it possible to use a reverse proxy, such as frp?"
This is a feature not bug, it would be truly life savor, if we can use a reverse proxy like [frp](https://github.com/fatedier/frp).

[2022-09-04 15:22] #1558 closed, assigned to nobody

[2022-09-05 08:54] akrz91 opened #1560 "How to work with external screen and keep mouse control?"
Hi,

I’d like to work on blink shell and VS code on the external screen so that I might use bigger workspace.
I’m able to use the mouse controller only on the embeded iPad screen.
The Blink shell automatically detects external screen attached and uses it as another output device with new command shell. I am able to focus on that screen with keyboard shortcut cmd+O but it seems like there is only k

[2022-09-05 17:00] matthewdm0816 opened #1561 "Support 2FA-required remote (and auto-login in integrated VSCode)"
Hi,
I'm really glad to find this great tool to work on remote with the VSCode that is remote-capable with blink-fs. But as indicated in the document, the login to remote server require to fill in all authentications in advance in the "Hosts" settings. Passwords or secret keys can be provided in such way, but 2FA code (e.g. TOTP password) is not supported yet, and makes it unable to use VSCode on r

[2022-09-07 03:14] harryhmtse opened #1562 "$LANG not set with .blink/profile"
### Checklist

- [x ] Using latest version on the [App Store](http://itunes.apple.com/app/id1156707581)
- [ x] Read the [docs](http://blink.sh/docs/)
- [ x] Searched for [existing GitHub issues](https://github.com/blinksh/blink/issues)

### Configuration
iPadOS: 15.6.1
Blink: 15.0.9.544

### Describe the bug
Changelog from Version [12.5](https://docs.blink.sh/whats-new#changes-in-build-195) and #4

[2022-09-09 05:04] lilithivey commented on #1556
Was coming here to say the same. I'm on a 2021 ipad Pro and it's unfortunately the same here as well.

[2022-09-09 06:36] GeojoL commented on #797
same problem

[2022-09-09 07:32] Nondv commented on #782
Stumbled upon this issue. Creating a shortcut in latest Blink (I also paid the subscription) helped.

`config` -> Keyboard -> Custom Presses -> Add

Just press Ctr+Space and in "Action" choose "Press ^_" (basically, create a shortcut that just passes the shortcut to the terminal lol)

[2022-09-09 09:42] christippett commented on #1023
While native integration with Shortcuts would be nice, you can achieve similar functionality by calling Blink’s X-Callback-URL from within a Shortcut, e.g. `blinkshell://run?key=<URLKey>&cmd=<URLEncodedCommand>` (don’t forget to URL encode the command string).

I’m using exactly this method to send a wake-on-lan command to a device selected in an earlier Shortcuts step. Works great!

![Send WoL](h

[2022-09-12 05:57] kyujin-cho opened #1563 "Swift Package Manager resolve fails with `BlinkBuild` repository not found error"
### Checklist

- [ ] Using latest version on the [App Store](http://itunes.apple.com/app/id1156707581)
- [x] Read the [docs](http://blink.sh/docs/)
- [x] Searched for [existing GitHub issues](https://github.com/blinksh/blink/issues)

### Configuration

### Describe the bug

When following build instructions described on README.md, `./get_frameworks.sh` command fails with error `fatal: repository '

[2022-09-13 10:06] anttivs opened #1564 "iOS 16 Lockdown mode cannot be disabled for Blink"
Running Blink on iPhone 13 with iOS 16. Turning the the new Lockdown mode on causes problems with text rendering. According to Apple, it should be possible to turn Lockdown off on a per-application basis, but Blink does not appear in the list that iOS provides under Settings / Privacy and Security / Lockdown Mode / Configure Web Browsing (other apps that are impacted seem to be listed).

I don't k

[2022-09-15 06:05] boredjo opened #1566 "crash after too long input"
### Checklist

- [ x] Using latest version on the [App Store](http://itunes.apple.com/app/id1156707581)
- [ x] Read the [docs](http://blink.sh/docs/)
- [ x] Searched for [existing GitHub issues](https://github.com/blinksh/blink/issues)

### Configuration

I am using blink version 15.0.10.572 on iPad OS 15.6.1

### Describe the bug

When I put in a really long string as a command like:
[code]
Then

[2022-09-15 13:41] fuomag9 commented on #1563
Same issue but I get stuck with this before that:

[code]

[2022-09-15 14:06] yury commented on #1563
Fixed. Please run `./get_frameworks.sh` again.

[2022-09-15 14:06] yury commented on #1563
Closing, feel free to reopen if needed.

[2022-09-15 14:06] #1563 closed, assigned to yury

[2022-09-15 14:57] fuomag9 opened #1567 "App does not compile due to error: no such module 'PackageDescription'"
### Checklist

- [x] Using latest version on the [App Store](http://itunes.apple.com/app/id1156707581)
- [x] Read the [docs](http://blink.sh/docs/)
- [x] Searched for [existing GitHub issues](https://github.com/blinksh/blink/issues)

### Configuration

### Describe the bug

App does not compile due to `error: no such module 'PackageDescription'` as firstly noted in https://github.com/blinksh/blink

[2022-09-15 15:27] carloscabanero commented on #635
We did it!!

https://twitter.com/BlinkShell/status/1570427813819486212?s=20&t=UoLIPGrXWsQiTw2lZrhgqA

And we are able to support other keys as well, not just Yubikeys. This is coming to TestFlight this weekend, so we need your help to try different keys and setups!

[2022-09-15 15:28] carloscabanero commented on #539
This will be our way to go https://twitter.com/BlinkShell/status/1570427813819486212?s=20&t=UoLIPGrXWsQiTw2lZrhgqA

Related to #635

Closing here

[2022-09-15 15:28] #539 closed

[2022-09-15 15:34] jwr commented on #635
This is fantastic news! Thank you very much for the effort, really looking forward to using this!

[2022-09-15 16:42] udf2457 commented on #635
Flippin' genius

[2022-09-15 17:00] fuomag9 commented on #1567
Fixed via `sudo xcode-select -r` as somehow I had a wrong path

[2022-09-15 17:00] #1567 closed, assigned to nobody

[2022-09-15 21:50] DarkDimius commented on #635
Outstanding. Unclear from the tweet, would there be support for fido2 resident keys as well?

[2022-09-16 17:03] carloscabanero commented on #635
@DarkDimius I think the answer to that is yes. This is a Webauthn flow, which is an extension to FIDO2. What the resident key does is that the CredentialID itself is the generated & encrypted credential from the key, so it is not really "kept" inside the key itself. All that is handled for you by Blink.

What we do not do at the moment, is to "generate" a Private Key based on the Attested Credenti

[2022-09-16 17:04] carloscabanero commented on #635
Just a heads up as I mentioned that this was coming this weekend. We are close to make things work with the Agent and got a bit caught up with it, so we will postpone the launch on TestFlight a few days.

[2022-09-17 05:56] DarkDimius commented on #635
@carloscabanero , sorry, I'm slightly confused by your answer on if resident keys are supported or not.

Let me ask it differently if you don't mind.
Let's say on my laptop I used `ssh-keygen -t ed25519-sk -O resident` to generate a resident key on my Yubikey series 5 nfc. As far as I know, this does store information about the credential itself on the key, as it can be obtained using `ykman fido

[2022-09-17 12:41] kyujin-cho commented on #1563
Thanks! Now `./get_frameworks.sh` is working without error. After this I face some errors from XCode complaining about missing `Machines` and `BuildCLI` (which probably originates from `BlinkBuild` module) but it can be fixed by removing and re-adding those dependencies on Blink build target page.

[2022-09-17 12:50] fuomag9 commented on #1567
For future readers: this is a bug caused by updating to macOS Monterey 12.6

[2022-09-17 17:41] sofomryu commented on #1552
Hi I am having trouble to use wol command in blink. I typed wol -q -b (my broadcast ip) -p (60000) (my MAC address), then it doesn't show any response. Instead, typing wol (MAC address)  shows the sentence 'Packet sent ~~'. In either case, my macbook doesn't wake up from sleep mode. Any suggestion?

[2022-09-18 01:35] nreilly commented on #364
Just had this when migrating to a new iPhone. The keys listed my SE key from the previous phone and I was wondering what voodoo was happening, but it couldn’t authenticate with it (thankfully). Deleted the reference and created a new one. Perhaps a check on launch for non-existent SE keys, notifying the user that it’s not there anymore and they might like to set up a new one is a good solution.

[2022-09-18 02:44] majick opened #1569 "mosh-server is always invoked with -c 256"
### Checklist

- [x] Using latest version on the [App Store](http://itunes.apple.com/app/id1156707581)
- [x] Read the [docs](http://blink.sh/docs/)
- [x] Searched for [existing GitHub issues](https://github.com/blinksh/blink/issues)

### Configuration

default configuration

### Describe the bug

When blink invokes mosh-server it passes what seems to be a hard coded `-c 256` which completely disab

[2022-09-21 03:51] AlexHunterCodes commented on #1552
@sofomryu This is a feature request, and your comment is an unrelated support query. You should put it in its own issue instead of here.

[2022-09-21 20:54] d34dh0r53 commented on #1513
Beta 3 is much better.  You can still see the special keyboard for a second but it hides quickly.

[2022-09-23 14:52] carloscabanero commented on #1569
If I recall, this does not have any impact on using true color. For that you have to compile mosh-server from mosh’ main branch. We do that ourselves already for Blink Build, and Blink Shell mosh client should support it out of the box.

[2022-09-23 14:52] #1569 closed, assigned to nobody

[2022-09-23 14:58] carloscabanero opened #1571 "SSH Agent support for WebAuthn keys"
OpenSSH does not support WebAuthn signatures inside the agent. We have explored a few possibilities with OpenSSH-dev mailing list https://lists.mindrot.org/pipermail/openssh-unix-dev/2022-September/040402.html.

I do see at least two interesting ways forward for this. One is to do this on OpenSSH, either through flags or any other method or idea we may come up with. The second is to release a Guar

[2022-09-23 15:00] #1571 closed, assigned to nobody

[2022-09-23 15:09] carloscabanero opened #1574 "Synchronize WebAuthn keys across devices"
Passkeys and in general WebAuthn keys are automatically synchronized through iCloud through all your devices. Blink does not synchronize the public information it needs to make use of that key on other devices. We need to sync this, and probably do a review of what else we are now able to do since we last refactored this code.

[2022-09-26 14:27] carloscabanero opened #1576 "Logs not showing key name when Public key is rejected"
The Agent is not offering the identifier of the key when the public key is not accepted. This makes it difficult to figure out, when we have multiple keys, which one was tested.

`ssh_userauth_agent: Public key of  refused by server`

Should be

`ssh_userauth_agent: Public key of <key_name>  refused by server`

[2022-09-26 18:59] tferrin opened #1577 "2FA prompts lost with ssh command"
### Discussed in https://github.com/blinksh/blink/discussions/1568

<div type='discussions-op-text'>

<sup>Originally posted by **tferrin** September 17, 2022</sup>
I'm a relatively new blink user, but I've read the docs and looked through Discussions and Issues and haven't found anything similar to this problem. But before I create a new Issue, I wanted to see if anyone else has come across this

[2022-09-26 19:54] carloscabanero commented on #1577
Hey! Thanks a lot for posting this as a discussion first. This is a bug, and I think I know where it is. We had something similar a while ago with Known Hosts when showing the fingerprint for the key. The terminal when in this mode may stop printing stuff if some characters are found, and that is why this happens.

I'm moving to Issues and will fix soon.

[2022-09-27 23:28] cweagans commented on #635
Is this functionality in the App Store version of blink now? Or is it still pending TestFlight testing?

[2022-09-28 09:54] yury commented on #635
@cweagans only TestFlight for now.

[2022-09-28 12:26] carloscabanero commented on #635
@DarkDimius Using a key created somewhere else inside Blink will not be supported at the start. This is related to #1574. We need to know the public key as it is stored on the device, and through WebAuthn atm we only know that when the key is created. I think it is doable, but our resources are very very limited, and this seems like it will be very niche.

[2022-09-29 15:50] carloscabanero commented on #1566
Thanks for the report, and good catch! This is an issue with ios_system, checked on a-shell too. Given how this is a misuse and that we may probably move to a different way of doing things, we won't be prioritizing this at the moment. Hope you understand.

[2022-09-29 15:50] #1566 closed, assigned to nobody

[2022-09-29 15:59] carloscabanero commented on #1564
Thanks for the report!

It is unclear how we should behave in this scenario. Blink contains a WKWebView that may be limited from loading functionality, but at the same time, Apple seems to provide a way to "enable" those apps if their functionality has been limited, and it doesn't look like we can do much from our side.
`To exclude an app, turn that app off in the menu. Only apps that you have ope

[2022-09-29 15:59] #1564 closed, assigned to nobody

[2022-09-29 16:02] anttivs commented on #1564
Yes, I agree with the reasoning, just wanted to clarify for anyone that might find this issue later that Blink did not appear in the allowlist even if it was opened after enabling the mode. Tried twice. Other apps appeared there.

[2022-09-29 17:04] carloscabanero commented on #1562
Fixed. Should be out on next TF

[2022-09-29 17:05] carloscabanero commented on #1560
Hi! This is a limitation of iPadOS that will be fixed with Stage Manager on 16. Moving to discussions.

[2022-09-29 17:05] #1560 closed, assigned to nobody

[2022-09-29 17:25] carloscabanero commented on #1557
This is discussed here: https://github.com/blinksh/blink/discussions/1547

[2022-09-29 17:25] #1557 closed, assigned to nobody

[2022-09-29 17:28] #1553 closed, assigned to nobody

[2022-09-29 17:32] #1535 closed, assigned to nobody

[2022-09-29 17:35] carloscabanero commented on #1513
As noted in the notes from TF, we tried to make this as pleasant as we can, but there are still cases when it still happens with Stage Manager. We have opened a few bugs to Apple, and now opened a DTS as well, in case they expect us to migrate to a different way of handling things.

We are keeping an eye.

[2022-09-29 17:47] carloscabanero commented on #1503
The issue here is that VS Code gets all the mouse gestures, and obviously loves two finger swipes. The way to go, for now, is to use the mentioned shortcut (**Shift + CMD + [ or ]**)  or the swipe gesture (this one may also require to be started from the iPad's edge).

We will try to smooth things down in the future so that all the gestures and our shortcuts can coexist, but atm we cannot prioriti

[2022-09-29 17:50] #1493 closed, assigned to nobody

[2022-09-29 17:53] carloscabanero commented on #1488
Closing as fixed per reference

[2022-09-29 17:53] #1488 closed, assigned to nobody

[2022-09-29 17:57] carloscabanero commented on #1486
Sorry I missed your message. This looks like a simple connection issue when establishing the socket. I will close it here as it has been quite some time and we are now handling all these in Discussions.

[2022-09-29 17:57] #1486 closed, assigned to nobody

[2022-09-29 18:41] #1483 closed, assigned to nobody

[2022-09-29 18:46] carloscabanero commented on #1487
I'm unable to reproduce this at all when switching multiple times back and forth. I have even been working with Stage Manager and multiple windows back and forth at the same time on an external display, and I haven't had any issues with Blink's focus. I'm gonna close but please reopen if there is a consistent way to trigger this.

[2022-09-29 18:46] #1487 closed, assigned to nobody

[2022-09-29 18:47] #1481 closed, assigned to nobody

[2022-09-29 18:50] #1477 closed, assigned to nobody

[2022-09-29 18:57] carloscabanero commented on #1449
This may have been fixed since we are now a browser. And in any other case, it would be an issue with Codeserver itself. Closing here.

[2022-09-29 18:57] #1449 closed, assigned to nobody

[2022-09-30 12:31] #1030 closed

[2022-10-01 19:05] ivorsmorenburg opened #1584 "Terminal not working when connecting to remote ssh in vscode"
### Checklist

- [ ] Using latest version on the [App Store](http://itunes.apple.com/app/id1156707581)
- [ ] Read the [docs](http://blink.sh/docs/)
- [ ] Searched for [existing GitHub issues](https://github.com/blinksh/blink/issues)

### Configuration

### Describe the bug

[2022-10-03 09:00] yury commented on #1239
Fixed.

Thank you for your report.

Will be out in next release.

[2022-10-03 09:00] #1239 closed

[2022-10-03 09:13] martinorob opened #1585 "ipad full screen is cropped"
Hi all,
blink 15.0.10
if i start a mosh session on my iphone and then start the same mosh session on my ipad, i have this kind of screen.
Is there a settings to resolve this behaviour?

Thanks
M.

![F1FBF51A-1BCD-4C64-8FFF-532285D9C9AC](https://user-images.githubusercontent.com/6664936/193541673-dd79633d-1776-4517-a20a-d71129b73bd7.png)

[2022-10-03 14:02] carloscabanero commented on #1450
I have not been able to reproduce your case, but thanks to your detailed report, I think I was able to figure out what could be a possible cause for this issue. When we launch a ProxyCommand, we use another ios_system process in the background to trigger the stdio tunnel. Up until now we have been keeping this tunnel in the background while the process exited. That connection and tunnel are also m

[2022-10-03 14:05] carloscabanero commented on #1045
For some reason I forgot to close this one more than a year ago, when all this got implemented. You can now use ProxyCommand or ProxyJump indistinctly. We prefer ProxyJump as it will be more compatible. We also added all the remaining flags to SSH config file. The only unsupported thing (for now) will be the "Match" clauses.

[2022-10-03 14:05] #1045 closed

[2022-10-03 14:08] carloscabanero commented on #970
We added the rest of the SSH Config flags a while ago. We won't be supporting Match clauses. The main reason is because that requires to launch a background process to capture the output. It is doable, but we cannot rely on the current subsystem to do that at the moment. This is very niche and unfortunately to survive we have other battles.

I will mark as won't fix and move to Discussions. If eno

[2022-10-03 14:10] carloscabanero commented on #1440
All of these are fixed on next TestFlight. The main problem was that Code used URLs internally, which are not case-sensitive. We had to do a small refactor to support this.

[2022-10-03 14:11] carloscabanero commented on #1480
Closing here as duplicate of #1440. Fixed there.

[2022-10-03 14:11] #1480 closed, assigned to nobody

[2022-10-03 14:12] #1438 closed, assigned to nobody

[2022-10-03 14:13] yury commented on #1564
We made fallback to system monospaced font for now. So Blink will be at least usable in that mode. Still investigating...
<img width="1389" alt="Screenshot 2022-10-03 at 17 13 28" src="https://user-images.githubusercontent.com/5250/193599435-9f7c827d-704a-4328-972c-3bf864c21ece.png">

[2022-10-03 14:15] #1585 closed, assigned to nobody

[2022-10-03 19:58] PeterDaGrape opened #1589 "Code command launching window but is stuck on VScode icon"
I’m currently running iPadOS16 beta 8, and blink.sh launches fine but issuing the ‘code’ command will prompt for me to install the extension, upon pressing enter the window will pop up but will only show the VSCode logo, and nothing will happen, only after restarting will it open properly, and even then it will not load the extensions bar, and then I cannot do anything, the only thing that will ha

[2022-10-04 16:39] #1589 closed, assigned to nobody

[2022-10-04 16:40] #1584 closed, assigned to nobody

[2022-10-05 14:17] carloscabanero commented on #1577
Fixed and RTT on next TF.

[2022-10-06 05:41] iilyak commented on #1023
@christippett Nice hack!!! Do you know any way to get output or status of the command?

[2022-10-06 05:44] iilyak commented on #1023
I am curious if there is a way to integrate [a-Shell_iOS/](https://holzschu.github.io/a-Shell_iOS/) and blink. I want to use shortcuts to run script in a-shell which would prepare some files and then I want to trigger blink command to upload these files to the server. The reason is:

- blink cannot run scripts
- a-shell don't have rsync or scp

[2022-10-06 06:00] christippett commented on #1023
The built-in Open X-Callback URL action caters for that I'm pretty sure. I'm not using the output for anything in my example, but you can see there's an option to to parse a success or failed operation.

![image](https://user-images.githubusercontent.com/7218120/194224833-ef56a811-4a53-467b-bafa-6efdc45c264a.jpeg)

[code]

[2022-10-06 14:35] carloscabanero commented on #1023
As it has been mentioned already, although we do not have support for Shortcuts app, we do provide a X-Callback URL that becomes very handy. This plus piping can work on a few very cool scenarios, that I wanted to do a short video about. Here are some notes and additional tricks:
- You can execute snippets stored on Blink in the remote. Ie, you can create an `update.sh` script in Blink, and run it

[2022-10-11 18:01] pcho opened #1593 "Selection with right click isn’t working"
### Checklist

- [x] Using latest TestFlight version, but AppStore also has this bug
- [x] Read the [docs](http://blink.sh/docs/)
- [x] Searched for [existing GitHub issues](https://github.com/blinksh/blink/issues)

### Configuration

iPad Pro (12.9-inch) (4th generation), iPadOS 16.1 (20B5072b), Blink: v15.0.11.591 (Test Flight). Oct 10 2022

### Describe the bug

When selecting with mouse and us

[2022-10-12 00:26] JeffLabonte opened #1594 "Visual Artifact when running lunarvim/doomemacs"
### Checklist

- [x] Using latest version on the [App Store](http://itunes.apple.com/app/id1156707581)
- [x] Read the [docs](http://blink.sh/docs/)
- [x] Searched for [existing GitHub issues](https://github.com/blinksh/blink/issues)

### Configuration

### Describe the bug

I use lunarvim with `tmux` and mosh on debian. I simply have to configure `lunarvim` for rust. I can reproduce the issue by s

[2022-10-12 00:28] carloscabanero commented on #1594
Looks like some issue with a sequence. Could you try if this also happens over SSH outside / inside tmux, and with mosh outside tmux?

[2022-10-12 01:04] JeffLabonte commented on #1594
Yes sure!

[2022-10-12 01:18] JeffLabonte commented on #1594
It only works when I am using ssh.

I have some weird colors when I am using mosh without tmux

![Screenshot 2022-10-11 at 9 15 29 PM](https://user-images.githubusercontent.com/9425955/195226952-cdfbacb4-de88-408c-bc39-4109a0dc720a.png)

[2022-10-14 15:24] JeffLabonte commented on #1594
@carloscabanero To me, it seems like there is something wrong with my `mosh` configurations.

FYI, I also had this issue for a long time; I just didn't have time to create an issue on GitHub. I used VMs on DigitalOcean, AWS and now my own server. They all had this behaviour with DoomEmacs and LunarVim. Especially with Rust, since the editor adds this `Run | Debug` greyed-out text.

[2022-10-15 01:55] TerminalFi opened #1596 "IPv6 SSH Hosts are not working"
### Checklist

- [x] Using latest version on the [App Store](http://itunes.apple.com/app/id1156707581)
- [x] Read the [docs](http://blink.sh/docs/)
- [x] Searched for [existing GitHub issues](https://github.com/blinksh/blink/issues)

### Describe the bug

Attempting to SSH to a IPv6 host and receiving the following

[code]

I’ve confirmed via my MacBook that this host is online with port 22 open

[2022-10-15 02:00] #1596 closed, assigned to nobody

[2022-10-16 21:20] naupaka commented on #246
Closing this since it's (sadly) no longer relevant due to changes made by Apple.

[2022-10-16 21:20] #246 closed

[2022-10-16 22:20] hsayed21 opened #1597 "Required Student License"
### How to get student license?

[2022-10-17 09:54] yury commented on #1597
Send email to hello@blink.sh

[2022-10-17 09:54] #1597 closed, assigned to nobody

[2022-10-17 13:43] hsayed21 commented on #1597
I send but no reply

[2022-10-17 13:45] hsayed21 commented on #1597
@yury

[2022-10-17 13:46] yury commented on #1597
May be I missed that email, but I can't find it. Can you please send it again?

[2022-10-17 14:01] hsayed21 commented on #1597
Sure

[2022-10-17 14:04] hsayed21 commented on #1597
I send now
With subject: Blink Shell | Student Licence

[2022-10-17 14:04] hsayed21 commented on #1597
@yury

[2022-10-17 14:09] yury commented on #1597
Still nothing....

[2022-10-17 14:12] yury commented on #1597
You can dm @Yury at discord
https://discord.gg/RnNWvTdD

may be it will be faster

[2022-10-17 14:20] hsayed21 commented on #1597
Ok

[2022-10-19 05:19] pcho opened #1598 "React/Next.js Apps throw an error with built in `browse`"
### Checklist

- [x] Using latest TestFlight version, but [App Store](http://itunes.apple.com/app/id1156707581)  also has this bug
- [x] Read the [docs](http://blink.sh/docs/)
- [x] Searched for [existing GitHub issues](https://github.com/blinksh/blink/issues)

### Configuration

iPad Pro (12.9-inch) (4th generation), iPadOS 16.1 (20B79), Blink: v15.0.11.595 (Test Flight). Oct 11 2022

### Describ

[2022-10-19 05:22] pcho opened #1599 "Suggestion: Adding system font support inside `browse`"
It would be awesome and useful if `browse` could access system fonts installed either by special apps or profiles. That would come super handy for Figma users. :)

[2022-10-19 07:41] yury commented on #1599
For Figma it will not work out of the box.

I did research a little bit in that area. To access system fonts you have to install `FigmaAgent`.

It is simple service that runs locally on your machine and respond to `https://figmadaemon.com:44960`.
Domain figmadaemon.com is pointing to 127.0.0.1.

So figma.com make following requests:

1. `curl 'https://figmadaemon.com:44960/figma/font-files?freetyp

[2022-10-21 12:04] yury opened #1600 "Update DeviceInfo with new iPad models (2022)"
Keep an eye on [expo](https://github.com/expo/expo/blob/main/packages/expo-device/ios/EXDevice/EXDevice.m)

[2022-10-21 14:25] uajqq commented on #635
Using the TestFlight version, I am able to authenticate to my Linux server using both YubiKey and Passkey as options. It throws a bunch of errors but then connects successfully:
[code]

However, trying to connect to my MacOS 13 (Ventura) system is unsuccessful:
[code]

Incidentally, I would also be very interested in support for discoverable PGP keys (like @DarkDimius mentioned), which is the way

[2022-10-22 13:04] digitalec commented on #1230
I'm also having this issue on an iPhone 14 Pro Max. If the console size is lower than 95x47, sending `clear` hides the prompt.

In the attached screenshot, I have set the console size to 85x43, sent the command `clear` followed by `date`. You can't see the initial prompt on the first row but you can see the command output on the second.

![image](https://user-images.githubusercontent.com/31838395/

[2022-10-24 08:16] F30 commented on #635
Which SSH server are you using on macOS? Afaik, macOS's bundled OpenSSH doesn't support FIDO2, I assume that also applies to the server.

[2022-10-24 11:10] yury commented on #1600
Turns out Xcode have database for devices

This is example how we can use it:

[code]

[2022-10-24 11:10] #1600 closed, assigned to yury

[2022-10-24 20:33] #1577 closed, assigned to nobody

[2022-10-24 20:33] #1576 closed, assigned to nobody

[2022-10-24 20:33] #1562 closed, assigned to nobody

[2022-10-24 20:33] #1450 closed, assigned to nobody

[2022-10-24 20:34] #1440 closed, assigned to nobody

[2022-10-24 20:34] #1412 closed, assigned to carloscabanero

[2022-10-24 20:40] carloscabanero commented on #635
About macOS, we mention this limitation in the documentation. Our recommended approach is to use OpenSSH from Homebrew, as that one is kept a lot more updated, as a replacement.

I'm closing here as we consider the main feature has been implemented. Keep in mind these keys are really new and we are the first ones to provide support for them in the wild, which is why we decided to launch them as an

[2022-10-24 20:41] #635 closed

[2022-10-24 20:42] carloscabanero commented on #1272
Have not experienced this for a while. Closing again but feel free to open a new Issue if this comes back.

[2022-10-24 20:42] #1272 closed, assigned to yury

[2022-10-24 20:44] carloscabanero commented on #1598
Thanks for the report. Just a heads up, the browse command is a totally secondary "feature" at the moment. We have it for compatibility as part of getting the browser entitlements and being able to support other editors, scenarios and extensions. But this is good to know in case we need to do more of it in the future.

[2022-10-24 21:26] kaiiserni commented on #1513
On iPadOS 16.1 “stable” the issue still remains. Most of the time the special keyboard bar just stays there, with the option disabled in settings… When you start playing with it, for example connecting and disconnecting the hardware keyboard a number of times, or resizing the window continuously in stagemanager, it does dissapear like it should after a while, only to appear again when you switch w

[2022-10-24 21:37] carloscabanero commented on #1513
Have you updated Blink as well? We released Blink 16.0.0, and since our last TestFlight build a few weeks ago, when we changed the Smart Keys completely, we have not had any reports of this coming back either here or in Discord.

[2022-10-24 21:37] #1513 closed, assigned to nobody

[2022-10-25 17:17] carloscabanero commented on #1554
Fixed! Tools us longer than expected, as we were thinking what the proper way of doing this would be. We are now all in with Discussions, plus added `whatsnew` to the app as well.

[2022-10-25 17:17] #1554 closed, assigned to nobody

[2022-10-25 18:12] kademahler opened #1602 "Can’t Create _sk SSH Keys even though I have Blink+, with the program saying don’t have Blink+"
I can’t seem to create or use _sk keys even though I have blink+, and have even restarted my device, etc. It keeps telling me I still need blink+. I also uninstalled and reinstalled the app.
![E5389F31-308B-4422-9DF5-774ABD14DEEE](https://user-images.githubusercontent.com/77070667/197849679-a51fc296-6b9b-4a6c-9928-8d7a9dc23859.png)
![CB3622EA-1F7B-4F4C-8855-46C2EBC855B8](https://user-images.github

[2022-10-26 08:30] yury commented on #1602
Thank you for your report. Pushing v16.0.1 with a fix to App Store.

[2022-10-26 10:58] #1511 closed, assigned to yury

[2022-10-26 12:05] crux161 opened #1603 "Google titan security key"
Creating a new secure key using the Google titan fails.
App recognizes key and shows page requesting user to upgrade to plus subscription despite plus subscription status being active. This can be reproduced on both iPhone by nfc and iPad by usb c.

Any help would be greatly appreciated. Thanks for your time. Running v16.0.0.606 on iOS 16.0.3 (20A392) for iPhone

[2022-10-26 12:06] #1603 closed, assigned to nobody

[2022-10-26 13:21] carloscabanero opened #1604 "Closing the What's New window"
We have received a few questions on Discord on how to close the What's New window. This is a new scene that will hopefully become popular on iPadOS 16, and that we may use in the future for other use cases. It can be closed sliding it down or using the three dots on top (the new window handle).

Right now, and given how all the iPadOS 16 testing of Stage Manager and Window handling is going, it is

[2022-10-26 15:04] carloscabanero opened #1605 "iPhone 14 Pro Smart Keys bar issue"
Reported from Twitter. Fixed on 16.0.1, but will keep an eye in case there may be other issues. Please let us know! Adjusting the keyboard bar requires some manual tuning and sometimes having access to the real device helps.

![image](https://user-images.githubusercontent.com/536729/198063017-63c6b93d-88cc-4b72-8532-941d4d23bde1.png)

[2022-10-26 16:27] Leningrade opened #1606 "Keyboard artifact when using Hardware Keyboard in Ipad Os 16.1 and Stage Manager"
### Checklist

- [x] Using latest version on the [App Store](http://itunes.apple.com/app/id1156707581)
- [x] Read the [docs](http://blink.sh/docs/)
- [x] Searched for [existing GitHub issues](https://github.com/blinksh/blink/issues)

Could be related to https://github.com/blinksh/blink/issues/1605#issue-1424219465

### Configuration

Ipad OS 16.1
Blink 16.0.0.606

### Describe the bug
#### Issue
S

[2022-10-26 16:48] yury commented on #1606
Hello. That is know issue. But we can't fix that on our side. Only Apple devs can do that.

As a workaround for now - just slightly resize window.

We reported that issue to Apple.

Other apps also affected.

[2022-10-26 18:46] Leningrade commented on #1606
Thanks for the reply!

[2022-10-26 20:36] treyharris opened #1607 "Feature request: add `bc` calculator command to shell"
`bc` is available in ios_system, and I frequently need to do arithmetic with blink shell output. Currently I have to switch to another heavyweight app to do a quick calculation; having `bc` would be a great convenience.

I think it’s just a matter of adding it here:

https://github.com/blinksh/blink/blob/1e7873a43e9a5988c6d3aeb4e979891881bdea86/Resources/commandDictionary.plist#L12

Thanks!

[2022-10-26 23:18] kademahler commented on #1602
This appears to be fixed in the new version. Thanks!

[2022-10-26 23:18] #1602 closed, assigned to yury

[2022-10-26 23:27] kademahler opened #1608 "SSH _sk keys cause out of memory error"
### Checklist

- [ yes] Using latest version on the [App Store](http://itunes.apple.com/app/id1156707581)
- [ yes] Read the [docs](http://blink.sh/docs/)
- [ yes] Searched for [existing GitHub issues](https://github.com/blinksh/blink/issues)

### Configuration

iPad OS 16.1
16.0.1.616 app

### Describe the bug

SK keys cause out of memory error when use is attempted.
Server is running openSSH 8.9p

[2022-10-26 23:38] carloscabanero commented on #1608
That usually happens if the signature process is cancelled at any point.

Is that passkeys or secure hardware keys? If it is hw keys, what brand and model is it? Was the prompt shown? Did you follow it or cancelled it at one point?

[2022-10-27 00:22] kademahler commented on #1608
This happened for me on both a Yubikeys FIPS 5C and with passkeys. The screenshot above was a passkey attempt. No prompt was shown on either, so I didn't cancel anything.

[2022-10-27 04:17] phonefixnicole opened #1610 "Does the folding screen really have no creases?"
### Checklist

- [ ] Using latest version on the [App Store](http://itunes.apple.com/app/id1156707581)
- [ ] Read the [docs](http://blink.sh/docs/)
- [ ] Searched for [existing GitHub issues](https://github.com/blinksh/blink/issues)

### Configuration

### Describe the bug

[2022-10-27 04:20] phonefixnicole commented on #1605
But Smart Island is really attractive and its camera is also very attractive

[2022-10-27 04:22] phonefixnicole opened #1611 "So has the problem of freezing and crashing started to be solved?"
### Checklist

- [ ] Using latest version on the [App Store](http://itunes.apple.com/app/id1156707581)
- [ ] Read the [docs](http://blink.sh/docs/)
- [ ] Searched for [existing GitHub issues](https://github.com/blinksh/blink/issues)

### Configuration

### Describe the bug

[2022-10-27 07:08] yury commented on #1611
If you have any freezes and crashes - please record video.

[2022-10-27 07:36] Lorn888 commented on #1604
why is my blink shell taking 100gb sorgage ?

[2022-10-27 08:22] yury commented on #1604
Hi @Lorn888.

Can you send screenshot of Settings.app -> iPad/iPhone Storage ->  Blink.

![IMG_0347](https://user-images.githubusercontent.com/5250/198230999-69c15e5c-9eb3-4847-8f04-4201aba4c2c9.jpg)

[2022-10-27 09:36] Lorn888 commented on #1604
I have been using it with my raspberry. I downloaded stuff on my pi and than downloaded it in the files app via ssh. But even if I delete it the size just keeps growing.
![image](https://user-images.githubusercontent.com/98765021/198249579-45734d8f-9e67-4644-9cef-0c29048fa840.jpeg)

[2022-10-27 09:42] Lorn888 commented on #1604
![image](https://user-images.githubusercontent.com/98765021/198250896-0c269c73-3f21-433a-bbd0-0812aa04e324.jpeg)
Sorry The app itself is normal size but the contents seem to stay there even if I delete them

[2022-10-27 09:58] yury commented on #1604
No idea yet... investigating.

Do you use Files.app integration?

or may be you have hidden files on your home folder?

[2022-10-27 10:47] Lorn888 commented on #1604
Here you can see my sorage before:
![image](https://user-images.githubusercontent.com/98765021/198264108-e3bcd18e-20c0-4d79-a76c-1cb6a0e789d2.png)

Here I'm going to get black Adam file from my raspberry:

![image](https://user-images.githubusercontent.com/98765021/198264465-7254ecc9-d50f-4f64-83b1-251dd9876d66.png)
![image](https://user-images.githubusercontent.com/98765021/198264500-3ebba6c2-04f

[2022-10-27 12:09] carloscabanero commented on #1604
Blink keeps the files around until iOS claims back the storage. We may figure out a different way of handling this though. For now, the cache is stored in an upper directory, File Provider Storage. You can remove the cache manually, doing `rm -rf ../File\ Provider\ Storage`

[2022-10-27 12:10] carloscabanero commented on #1604
Please let's keep the discussions to the topic of the conversation. This was the What's New screen! ;)

[2022-10-27 12:10] #1604 closed, assigned to nobody

[2022-10-27 12:12] carloscabanero commented on #1611
I think this is spam or a bot. The other messages from the user are something about a crease and no content.

[2022-10-27 12:12] #1611 closed, assigned to nobody

[2022-10-27 13:29] Lorn888 commented on #1604
Sorry for posting here and, thank you carlos, worked like a charm

[2022-10-28 03:52] brentgryffindor opened #1612 "Code can't open remote directory with one proxyjump"
### Checklist

- [x] Using latest version on the [App Store](http://itunes.apple.com/app/id1156707581)
- [x] Read the [docs](http://blink.sh/docs/)
- [x] Searched for [existing GitHub issues](https://github.com/blinksh/blink/issues)

### Configuration

Blink version: v16.0.1.616
iOS version: 16.1
iPad Pro 2022

### Describe the bug

I was able to open remote directory using code and map that direc

[2022-10-28 12:07] richardbrn opened #1613 "Can't get past the whats new screen!"
Hello
Just upgraded to an M2 iPad Pro 12.9 and Blink won't let me get past the whats new screen
As soon as I open the app I get the screen as in the screenshot - how do I get past this screen?  Whatever I do it just opens up the feature details on Safari!

thanks
Richard

![IMG_1047](https://user-images.githubusercontent.com/75087283/198583348-19d8f673-cbd3-445b-8a57-54116cd6c123.jpeg)

[2022-10-28 12:43] yury commented on #1613
1. Update Blink to the latest version.
2. Tap 3 dots at the top and choose Close
3. Or Drag new Blink window from the dock.

[2022-10-28 12:50] richardbrn commented on #1613
Thanks - 3 dots did it!

[2022-10-28 13:06] yury commented on #1613
Will should keep this issue open for few days, so other people could find it.

[2022-10-28 16:34] kademahler commented on #1608
I’m completely unable to use any _sk key right now with this error, which is my only use case for this app. It never prompts for anything, it goes straight to the error shown.

[2022-10-28 16:37] kademahler commented on #1608
Update: this was the only key I had but if I manually define the key I’m using it worked for the passkey, despite it being the default name. That being said I’m still getting the same issue with my security key ssh key when I import it (ed2219_sk key)

[2022-10-28 17:02] carloscabanero commented on #1608
Ok, thanks for the update. I’m not sure if there is a bug here, trying to summarize what you are experiencing and I will try to replicate from my side:
- You created both a Passkey and a Secure Key. None were working at the start. Now thePasskey is working when you select it explicitly at the Host.
- Is the Secure Key “tap request screen” showing when you do the same? Or does it fail straight away

[2022-10-28 17:02] #1608 closed, assigned to nobody

[2022-10-29 10:52] acacar opened #1615 "Caret not visible in Code dialogs"
### Configuration

Blink 16.0.1; ipadOS 16

### Description

When using VS Code in blink, the caret (cursor) is invisible in dialogs (like the command palette, file open dialog etc.). This is true for both for local code instances, and for remote code instances like codespaces or code server. While not critical, being unable to see the caret makes writing into these dialogs very difficult and erro

[2022-10-29 14:11] carloscabanero opened #1616 "id_ecdsa_sk"
The key is not working as default at the moment. Looks like I didn’t apply the full patch.

Workaround for now is to just make it explicit on the host.

[2022-10-30 12:00] KennethLavrsen commented on #1613
I ran into same problem. Not very user friendly

[2022-10-30 13:36] yury commented on #1613
We improved that in 16.0.1.

[2022-10-31 13:26] carloscabanero opened #1617 "Mosh has updated"
Merge Blink client features 1.4.0

[2022-11-01 13:11] #1605 closed, assigned to nobody

[2022-11-01 13:13] carloscabanero commented on #1594
This is definitely on Mosh side. May be related to #1617

Revisit once we fix that.

[2022-11-02 06:43] yury commented on #1607
Unfortunately this is not as easy as it seems.

1. It is one more dependency on bc_ios.xcframework
2. Our interactive input is not working well with that command

https://user-images.githubusercontent.com/5250/199418864-269650e5-4282-43e5-b81e-16e92d918102.MOV

I move that freature request to backlog for now.

[2022-11-02 06:50] yury commented on #1416
@carloscabanero I believe you have same model. Can you test it on latest blink?

[2022-11-02 06:58] yury commented on #1496
Yep, confirmed (cmd+p) doesn't work with blink-fs.

In logs I see

[code]

[2022-11-02 10:19] yury opened #1619 "File provider is leaking storage."
Even if file is deleted after download, space used by Blink is not decreased.

Also If user deleted provider we should cleanup space.

[2022-11-02 13:35] carloscabanero commented on #1416
I was able to reproduce it. It may probably be an issue on other phones under that mode too, and the simulator can replicate it. Will fix.

[2022-11-02 13:39] yury commented on #1416
@carloscabanero  Hmm, where is settings for zoom on simulator?

[2022-11-02 13:46] yury commented on #1416
ok, I found it under Developer menu in settings...

[2022-11-02 14:37] carloscabanero commented on #1613
If this happened to get stuck on you in Blink 15, as it did with me right now, updating the app will not help. Do the three finger tap, or create another Blink window (tap on the Blink icon and then use the + button) and then close What's New.

Jeez, we got really ahead of stuff with this new type of windows. Apologies for the inconvenience.

[2022-11-03 08:37] yury commented on #1416
I prepared two releases with fixes:

- v16.0.2 Build 617 for Test Flight
- v16.0.2 Build 618 for App Store

[2022-11-04 05:08] michaelyork commented on #1574
Yes please! Just subscribed to Blink+ today (as a Classic user) just for this ability before I realized it’s not fully implemented. Happy to support, but would love to see this work :)

[2022-11-04 09:46] ccsCoder opened #1621 "Blink crashes when opened on external display, or when Moved to External Display"
### Checklist

- [ *] Using latest version on the [App Store](http://itunes.apple.com/app/id1156707581)
- [ *] Read the [docs](http://blink.sh/docs/)
- [ *] Searched for [existing GitHub issues](https://github.com/blinksh/blink/issues)

### Configuration

Blink: 16.0.1
iPadOS: 16.2.0 Beta

### Describe the bug
When trying to launch blink on the external monitor it crashes.
It also crashes when try

[2022-11-04 10:21] rolurq opened #1622 "Having issues with the build."
### Discussed in https://github.com/blinksh/blink/discussions/1620

<div type='discussions-op-text'>

<sup>Originally posted by **rolurq** November  2, 2022</sup>
I was following the build guide and I'm stuck on running `./get_frameworks.sh`, it throws this error
[code]

[2022-11-05 01:38] carloscabanero commented on #1622
Closing here as duplicate of already answered Discussion https://github.com/blinksh/blink/discussions/1620

[2022-11-05 01:38] #1622 closed, assigned to nobody

[2022-11-05 03:06] oxkenshin opened #1623 "Unifying keyboard shortcuts between Blink and Code"
The shortcut Command-W does not work in side vscode (it works in blink without opening code editor). I couldn't find a way to exit the editor without plugging a hardware keyboard, or quit the entire app.

blink version: v16.0.1.616
ipadOS 16.1 (20B82)

[2022-11-05 22:24] thekeith commented on #1621
Can verify. It keeps the space in stage manager along with the window size selector briefly before disappearing. App is shown as active but is unusable.

[2022-11-06 11:14] IsaacNez opened #1624 "ProxyJump does not behave as ProxyCommand"
### Checklist

- [ ] Using latest version on the [App Store](http://itunes.apple.com/app/id1156707581)
- [x] Read the [docs](http://blink.sh/docs/)
- [x] Searched for [existing GitHub issues](https://github.com/blinksh/blink/issues)

### Configuration

Blink Shell Version: Testflight v16.0.2.617
iPadOS 16.1

### Describe the bug

Connecting to a remote host using ProxyJump does not work but using

[2022-11-07 09:37] rolurq commented on #1622
Discussion is not answered. Issue still exists.

[2022-11-07 10:52] yury commented on #1622
Yep, we moved that to discussions, so it more visible to people and may be someone could help.

[2022-11-08 10:31] yury commented on #1621
Fixed.

Will be in:

- TestFlight v16.0.2 build 619
- App Store v16.0.2 build 620

[2022-11-08 13:15] carloscabanero opened #1625 "Code encoding is messing up with rendering name on VS Code"
Via @yury

<img width="683" alt="IMG_0358" src="https://user-images.githubusercontent.com/536729/200574151-b164229d-261c-4363-a062-ba2ba81618df.png">

[2022-11-08 16:21] carloscabanero commented on #1624
Thanks a lot for your report. I'm not able to replicate this. As you noticed, ProxyJump is just a translation to ProxyCommand, but devil is in the details here. Maybe what is going on is that when you use ProxyCommand, you are doing that translation yourself so you are passing everything properly but not with ProxyJump. One thing I have noticed:

`'ssh -W [url from proxyhost]:22 remotehost'`

I th

[2022-11-08 17:35] yury commented on #1556
it should be fixed on iPadOS 16.2 on MX devices.

Also we will release improvements in Blink 16.0.2.

[2022-11-08 17:35] #1556 closed, assigned to yury

[2022-11-08 17:44] yury commented on #1623
Yep, that is know issue.

For now you can 3f tap on software kb and press close on bottom menu.

[2022-11-08 17:49] yury commented on #1400
Ok, we need recheck that. Adding to November's list.

[2022-11-08 19:12] scottdware commented on #797
I am getting the same error when idle for a few seconds. IpadOS 16.1

[2022-11-10 01:28] GregoryMS opened #1628 "App opens to black screen"
### Checklist

- [ x] Using latest version on the [App Store](http://itunes.apple.com/app/id1156707581)
- [ x] Read the [docs](http://blink.sh/docs/)
- [ x] Searched for [existing GitHub issues](https://github.com/blinksh/blink/issues)

### Configuration

Blink Version 16.0.1  | iOS version 16.1.1 | iPhone 13 pro
### Describe the bug

The app will only launch to a black screen. I have tried reinst

[2022-11-10 05:36] yury commented on #1628
Hello @GregoryMS

Can I invite you to our Test Flight? to test  v16.0.2?

[2022-11-10 07:32] GregoryMS commented on #1628
That sounds good to me

[2022-11-10 07:37] yury commented on #1628
Please send me email to yury@blink.sh

[2022-11-10 13:10] #1624 closed, assigned to nobody

[2022-11-10 16:36] yury commented on #1599
Note:

https://github.com/neetly/figma-agent-linux

and it is in Rust!

[2022-11-11 02:01] carloscabanero opened #1630 "ProxyCommand not resolving host names with dashes"
Vía discord https://discord.com/channels/441939332442619905/442378162425298954/1040127194992746509

The dash is not part of the regex when using brackets.

[2022-11-11 02:03] carloscabanero commented on #1612
Should be fixed on next TestFlight. Please try it out

[2022-11-11 03:58] brentgryffindor commented on #1612
Thank you! I'll try it out.

[2022-11-11 11:47] carloscabanero commented on #797
Hey, so this issue should have been closed a while ago, and any "similar" message for the last year is probably not due to the same issue.

The original issue was actually a bug on iOS that got fixed a while ago. We also rewrote the sockets and our whole SSH subsystem from scratch, so error messages (no Unknown Error -1, etc) are more accurate and connections more stable.

"Socket is not connected

[2022-11-11 11:47] #797 closed

[2022-11-15 13:04] aikinai commented on #1619
I guess I have the same issue? Blink was using over 8GB of storage. I deleted the app and installed from scratch and it's gone for now.

[2022-11-15 13:10] carloscabanero commented on #1619
Hey, sorry about that. We forgot to link to a workaround for this:

https://github.com/blinksh/blink/discussions/1601#discussioncomment-3954673

[2022-11-15 18:36] yury commented on #1625
Confirmed as fixed.

[2022-11-15 18:36] #1625 closed, assigned to carloscabanero

[2022-11-15 18:36] yury commented on #1621
Fixed in v16.0.2 feel free to reopen if needed.

[2022-11-15 18:36] #1621 closed, assigned to yury

[2022-11-15 18:36] yury commented on #1630
@carloscabanero should we close this one?

[2022-11-15 18:37] yury commented on #1612
I think we can close this one. Feel free to reopen if needed.

[2022-11-15 18:40] carloscabanero commented on #1630
👍🏼 from Discord

[2022-11-15 18:40] #1630 closed, assigned to carloscabanero

[2022-11-16 16:40] nibl opened #1634 "Shell unresponsive after switching apps"
After switching to other apps for a minute, and back, the keyboard no longer types into the remote shell. This did not used to happen.

Session has to be closed. Recent commands are also missing from history.

Blink 16.0.2, iPadOS 15.7.1

[2022-11-16 20:24] akrz91 commented on #1612
after updating to v 16.0.2.622 I cannot open remote directory when reaching the server via proxy jump. It fails both on Files app and on `code server:<dir>` launch in shell.

It works fine for the direct connection to the server - when there is no jumping.
The ssh connection from shell for the server with jump also works fine.

BTW, is there any way of removing a Host once it was created?

@edit:

[2022-11-17 05:34] yury commented on #1612
@akrz91 swipe to the left on host row in the list

[2022-11-17 13:25] carloscabanero commented on #1612
@akrz91 Can you send the first lines of ssh -vvv to the host, so we can see what the transform for ssh -W is?

[2022-11-17 13:28] carloscabanero commented on #1634
Need more information to try to reproduce this. Is this ssh or mosh? Is it consistent after a specific amount of time? Are you using `geo` in the case of ssh? Are you roaming or switching networks (say Wifi and then maybe cellular even if you were not aware of the switch?) What can you see on the screen? Are other parts of the app still active - can you create more tabs, or having other tabs can y

[2022-11-17 14:16] yury opened #1635 "Investigate thread performance checker report"
<img width="1552" alt="Screenshot 2022-11-17 at 17 22 21" src="https://user-images.githubusercontent.com/5250/202471539-3c2f9bcb-3c73-415c-be8b-17f902db88c1.png">

[code]

[2022-11-17 14:23] akrz91 commented on #1612
[code]

[2022-11-18 12:13] caraar12345 opened #1636 "Font glyphs not aligning with cursor"
### Checklist

- [x] Using latest version on the [App Store](http://itunes.apple.com/app/id1156707581)
- [x] Read the [docs](http://blink.sh/docs/)
- [x] Searched for [existing GitHub issues](https://github.com/blinksh/blink/issues)

### Configuration

- Blink version: `16.0.2`
- iOS version: `16.1`

### Describe the bug

I'm using a custom [Input font](https://input.djr.com/) with wider glyphs th

[2022-11-19 18:07] uajqq commented on #635
To anyone who was struggling with this like I was: I had OpenSSH installed from Homebrew and working, but the problem was that the default `sshd` was accepting new SSH connections instead of the Homebrew version. I disabled SSH in system preferences and added a plist in LaunchDaemons to start the Homebrew version of `sshd` instead, and incoming connections can now use Yubikey/passkey/etc.

[2022-11-19 20:22] samaklis commented on #1390
Hi, I was wondering if there is any ETA for the fix of this issue.
Thanks

[2022-11-20 06:22] yury commented on #1390
@samaklis

We think it is fixed. Can you provide your file paths and host name so we can reproduce it and write unit test for it.

[2022-11-20 12:26] samaklis commented on #1390
@yury the host alias is ubuntuExternal and the path /var/www/webdav

On first access from the files app, it worked fine. Any subsequent access though got stuck in "loading files" and in addition there were no errors in the file  provider log. Interestingly enough the path ~ for the same host name worked fine. Renaming the host with all lower case fixed it.

[2022-11-21 02:21] carloscabanero commented on #1612
Thanks, my fault. I overlooked one thing during our test. Will fix and push before we have other major stuff.

[2022-11-21 10:38] carloscabanero commented on #1390
Looking into it.

[2022-11-21 20:26] kooskaspers commented on #718
Do you happen to know what the hex code is of the delete character? (opposed to backspace, i.e.: delete the character _after_ the cursor).

[2022-11-24 16:03] raja commented on #597
@yury any like of sight for supporting eternal terminal on the blink product roadmap?

[2022-11-24 20:54] nibl commented on #1634
Is this ssh or mosh?
ssh

Is it consistent after a specific amount of time?
No

Are you using geo in the case of ssh?
No

Are you roaming or switching networks?
No. Stable Wifi only

What can you see on the screen?
Display is frozen

Are other parts of the app still active?
I can switch to other open tabs. Can't remember about two finger tap. Three finger tap works, but "close" was not always avai

[2022-11-24 20:57] #1634 closed, assigned to nobody

[2022-11-26 17:52] yury commented on #597
@raja  no plans yet.

[2022-11-26 19:05] atarrh opened #1637 "Hanging ^ Control Signal When Exit SSH"
When CapsLock is set to send Ctrl as modifier in Blink config -> Keyboard settings, exiting an SSH session results in a continuous control signal (i.e., any other key input acts as if Ctrl is being held down) on the local blink shell.

Workaround: I have set my iPad’s Keyboard -> Modifier Keys -> Caps Lock Key setting to ^ Control, which overrides the Blink config setting.

As there is a workaroun

[2022-11-27 16:05] fecet opened #1638 "How to map keyboard press to arrow keys"
I would like to map ctrl+hjkl to arrows, is it possible? As I don't know what's the corresponding HEX code

[2022-11-28 04:40] fecet commented on #1638
I get necessary information from `showkey`, thought it's better to mention it in documents

[2022-11-28 04:40] #1638 closed, assigned to nobody

[2022-11-28 12:02] fecet opened #1639 "Feature request: Add patch for cursor style handling"
### Checklist

- [x] Using latest version on the [App Store](http://itunes.apple.com/app/id1156707581)
- [x] Read the [docs](http://blink.sh/docs/)
- [x] Searched for [existing GitHub issues](https://github.com/blinksh/blink/issues)

### Configuration

### Describe the bug

Cursor style handling is a very old question for mosh, it's fixed by https://github.com/mobile-shell/mosh/pull/1167, but have

[2022-11-28 12:40] ghost opened #1640 "Prompt is off screen after SSHing"
### Checklist

- [x] Using latest version on the [App Store](http://itunes.apple.com/app/id1156707581)
- [x] Read the [docs](http://blink.sh/docs/)
- [x] Searched for [existing GitHub issues](https://github.com/blinksh/blink/issues)

### Configuration

* 16.0.2.622
* iPadOS 15.7.1
* iPad Mini (5th generation)

### Describe the bug

Prompt is one line off top of screen (after clearing) when using a

[2022-11-29 06:37] YYCCaa opened #1641 "What are the options to compile and run Java?"

[2022-11-29 20:56] donutbrew opened #1642 "Border from terminal background shows through in VSCode interface"
When on a non-black theme on the terminal side and you launch `code`, there is a border around the VSCode window that I think would be better color matched to the VSCode theme than the terminal theme.

See the image below—my terminal background is green and it “shows through” on the border:

![1E714E02-93FE-4DCE-8593-8C5944141B52](https://user-images.githubusercontent.com/6391757/204645499-c859f86

[2022-11-30 06:21] yury commented on #1642
Set "Cover" layout mode. In 3 finger menu for current tab or in `config` -> `Appearance` for new tabs.

[2022-11-30 10:31] yury commented on #1641
We are focused on remote runtimes, no options for local runtimes.

Closing, feel free to reopen if needed.

[2022-11-30 10:31] #1641 closed, assigned to nobody

[2022-11-30 13:53] carloscabanero commented on #1640
I cannot reproduce this in my devices and I have also tried connecting to a Debian 11 box. Does Ctrl-l have the same result? Do you have any special setting on $TERM in remote or in local? Have you tried with an iPhone or another device?

[2022-11-30 14:28] #1636 closed, assigned to nobody

[2022-11-30 23:17] marchank0 opened #1644 "Auto dark mode"
Add auto dark mode with ability to assign particular theme for light and dark modes respectively

Ideally it would be nice to have behaviour similar to iOS/macOS

<img width="379" alt="image" src="https://user-images.githubusercontent.com/1183579/204928558-6d3c69e6-72c0-41df-8681-8f068c0f913d.png">